Repository SquareFactory/docs.csquare.run: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: pnpm prettier --write {staged_files}

eslint:
  run: pnpm eslint --fix {staged_files}

docs(organization): add seat section, upgrade invite video
  docs/concepts/hierarchy.mdx
  docs/models/containers/philosophy.mdx
  docs/models/containers/registries.mdx
  docs/organizations/introduction.md
  docs/organizations/invite-a-collaborator.mdx
  docs/organizations/invite-to-organization.mdx
  docs/organizations/remove-a-collaborator.mdx
  docusaurus.config.js
  sidebars.js
  static/videos/organizations-invite-a-collaborator.webm
Due: prettier, eslint

fix(links): broken links
  docs/concepts/hierarchy.mdx
  docs/models/containers/philosophy.mdx
  docs/organizations/introduction.md
Due: prettier

fix(videos): remove the `/static` prefix for the videos
  docs/organizations/invite-a-collaborator.mdx
Due: none

docs(organizations): re-film the organizations videos
  .github/workflows/deploy.yaml
  docs/organizations/create-an-organization.mdx
  docs/organizations/delete-an-organization.mdx
  docs/organizations/introduction.md
  docs/organizations/remove-a-collaborator.mdx
  sidebars.js
  src/components/VideoPlayer.tsx
  static/videos/organizations-create-an-organization.webm
  static/videos/organizations-delete-an-organization.webm
  static/videos/organizations-remove-a-collaborator.webm
Due: prettier, eslint

feat(projects): export videos, re-arrange projects architecture
  docs/datasets/create-a-dataset.mdx
  docs/datasets/delete-a-dataset.mdx
  docs/datasets/import-an-existing-dataset-to-a-project.mdx
  docs/datasets/import-files-to-a-dataset.mdx
  docs/datasets/remove-a-dataset.mdx
  docs/experiments/go-to-the-experiment-page.mdx
  docs/experiments/run-an-experiment.mdx
  docs/get-started/quick-start.mdx
  docs/models/create-a-model.mdx
  docs/models/delete-a-model.mdx
  docs/models/edit-a-model.mdx
  docs/organizations/create-an-organization.mdx
  docs/organizations/invite-a-collaborator.mdx
  docs/projects/collaborators/accept-an-invitation.mdx
  docs/projects/collaborators/invite-a-collaborator.mdx
  docs/projects/collaborators/update-permissions.mdx
  docs/projects/collaborators/whats-a-collaborator.md
  docs/projects/create-project.mdx
  docs/projects/delete-a-project.mdx
  docs/projects/delete-project.mdx
  docs/projects/introduction.md
  docs/projects/select-project.mdx
  docs/projects/use-project-template.mdx
  sidebars.js
  static/videos/projects-collaborators-accept-project-invitation.webm
  static/videos/projects-create-project.webm
  static/videos/projects-delete-project.webm
  static/videos/projects-select-project-from-anywhere.webm
  static/videos/projects-select-project-from-hub.webm
  static/videos/projects-use-project-template.webm
Due: prettier, eslint

feat(seo): drop `a` and `an` from slugs
  docs/concepts/hierarchy.mdx
  docs/datasets/create-dataset.mdx
  docs/datasets/delete-dataset.mdx
  docs/datasets/import-existing-dataset-to-project.mdx
  docs/datasets/import-files-to-dataset.mdx
  docs/datasets/introduction.md
  docs/datasets/remove-dataset.mdx
  docs/experiments/run-experiment.mdx
  docs/experiments/stop-experiment.mdx
  docs/experiments/whats-experiment.md
  docs/get-started/quick-start.mdx
  docs/models/create-model.mdx
  docs/models/delete-model.mdx
  docs/models/edit-model.mdx
  docs/models/introduction.md
  docs/organizations/create-organization.mdx
  docs/organizations/delete-organization.mdx
  docs/organizations/introduction.md
  docs/organizations/invite-member.mdx
  docs/organizations/remove-member.mdx
  docs/projects/collaborators/accept-invitation.mdx
  docs/projects/collaborators/invite-collaborator.mdx
  docs/projects/collaborators/remove-collaborator.mdx
  docs/projects/collaborators/whats-collaborator.md
  docs/projects/introduction.md
  docusaurus.config.js
  sidebars.js
  static/videos/organizations-create-organization.webm
  static/videos/organizations-delete-organization.webm
  static/videos/organizations-invite-collaborator.webm
  static/videos/organizations-remove-collaborator.webm
Due: prettier, eslint

feat(docusaurus): upgrade docusaurus to v2.0.0-beta.8
  package.json
  pnpm-lock.yaml
Due: prettier

Path conditions:
  prettier: any of: *.{json,css,scss,md,yaml,yml}
  eslint: any of: *.{js,jsx,ts,tsx}
